body { 
  background-color: whitesmoke;
  margin-top: 0;
}

div.about-table {
  display: flex;
  align-items: right;
  background-color: #DC052D;
}

div.title-container {
  background-color: #DC052D;
  background-size: cover;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.menu-table {
	display: table;
	margin: 0 auto;
}

div.background-of-menu-table {
  display: flex;
  background-color: #bb0627;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

ul.menu-list {
  background-color: #bb0627;
}

ul.about-list {
  margin-left: auto;
  margin-right: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #0066B2;
}

li.about-list-item {
  width: 55;
  padding: 5px 5px;
}

li.player-list-item {
  border: solid #bb0627
}

a.menu-item {
  color: white;
}

a.about-item {
  color: white;
  font-size: 10px;
  padding: 5px 5px;
}

h1.website-title {
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  
}